src/main/resources/META-INF/xsd/smooks/xsl-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="https://www.smooks.org/xsd/smooks/xsl-2.0.xsd"
           elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:smooks="https://www.smooks.org/xsd/smooks-2.0.xsd"
           xmlns:xsl="https://www.smooks.org/xsd/smooks/xsl-2.0.xsd">

    <xs:import namespace="https://www.smooks.org/xsd/smooks-2.0.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">XSL Templating Configuration</xs:documentation>
    </xs:annotation>

    <xs:element name="xsl" type="xsl:xsl" substitutionGroup="smooks:abstract-resource-config">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                XSL Templating Configuration.
            </xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="xsl">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                XSL Templating Configuration Type.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="smooks:element-visitor">
                <xs:sequence>
                    <xs:element name="template" type="xsl:template" />
                    <xs:element ref="smooks:param" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="applyOnElement" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            The name of the element on which the template is to be applied.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="applyBefore" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Apply the template before visiting the elements child content.<p/>Default is 'false'.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="template">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                The XSL Template.
                <p/>
                This can be an inline template, or a reference (URI) to an externally defined template (filesystem, classpath, www).
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="encoding" type="xs:string" use="optional" default="UTF-8">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            Template character encodng.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>